<div class="container">
  <div class="shadow-sm card col-6 offset-3 pt-4 my-4">
    <div class="card-head">
      <h3 class="text-center">{{title}}</h3>
    </div>
    <div class="card-body">
      <div class="form-group">
        <label for="username">Enter Length </label>
        <input type="text" (input)="onChangeLength($event.target.value)" class="form-control">
       </div>
      <div class="form-group">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" (change)="onChangeUseLetters()">
            <label class="form-check-label">Use Letters</label>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" (change)="onChangeUseNumbers()">
            <label class="form-check-label">Use Numbers</label>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" (change)="onChangeUseSymbols()">
            <label class="form-check-label">Use Symbols</label>
        </div>
      </div>
      <div class="form-group">
          <button class="btn btn-info btn-lg btn-block"
          [disabled]="(!length && (onChangeUseLetters || onChangeUseNumbers || onChangeUseSymbols))"
          (click)="onButtonClick()">Generate</button>
      </div>

      <div class="form-group" *ngIf="password">
        <label for="your number">Your password</label>
        <input type="text" [value]=password class="form-control">
      </div>
    </div>
  </div>
</div>